spring:
  application:
    name: mini-postman-backend
  
  # H2 Database 설정
  h2:
    console:
      enabled: true
      path: /h2-console
  
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  
  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

# 로깅 설정
logging:
  level:
    com.minipostman: DEBUG
    org.hibernate.SQL: DEBUG